<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace用于绑定Dao接口 -->
<mapper namespace="com.ruoyi.system.mapper.parameter.ParameterMapper">

	<!-- 用用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ruoyi.system.domain.parameter.ParameterVo" >
		<!-- column代表数据库列名，property代表实体类属性名 -->
		
		<result column="parameter_id" property="parameterId"/>
		<result column="name" property="name"/>
	</resultMap>
	
	
    <select id="queryAllParamters"  resultMap="BaseResultMap">    
        select 
        	parameter_id,
        	name
        from 
        	parameter 
        where 
        	status=1    
    </select>  
    
    <select id="queryParamterById" parameterType="java.lang.Integer" resultMap="BaseResultMap">    
        select 
        	parameter_id,
        	name
        from 
        	parameter 
        where 
        	status=1  
        and
        	parameter_id=#{parameterId}  
    </select>  
    
    <select id="queryParamtersById"  resultMap="BaseResultMap" parameterType="java.util.List">    
        select 
        	parameter_id,
        	name
        from 
        	parameter 
        where 
        	status=1   
        and
        	parameter_id 
        in
       	<foreach item="item" collection="list" separator="," open="(" close=")" index="">    
	      #{item}    
	    </foreach>
    </select>  
</mapper>