<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace用于绑定Dao接口 -->
<mapper namespace="com.education.hjj.bz.mapper.ComplaintSuggestionMapper">


	<resultMap id="complaintSuggestionResultMap" type="com.education.hjj.bz.entity.vo.ComplaintSuggestionVo" >
		<!-- column代表数据库列名，property代表实体类属性名 -->
		<result column="complaint_suggestion_id" property="complaintSuggestionId"/>
		<result column="person_id" property="personId"/>
		<result column="person_type" property="personType"/>
		<result column="type" property="type"/>
		<result column="content" property="content"/>
		<result column="telephone" property="telephone"/>
		<result column="create_time" property="createTime"/>
		<result column="name" property="name"/>

	</resultMap>
     
    <!-- 新增一条未回复的投诉与建议 -->
    <insert id="addComplaintSuggestion" parameterType="com.education.hjj.bz.entity.ComplaintSuggestionPo"
        keyProperty="id" useGeneratedKeys="true">
        insert INTO complaints_suggestions(
				person_id,
				person_type,
				type,
				content,
				telephone,
				name,
				status,
				create_time,
				create_user,
				update_time,
				update_user
				)
			VALUES (
				#{personId},
				#{personType},
				#{type},
				#{content},
				#{telephone},
				#{name},
				#{status},
				#{createTime},
				#{createUser},
				#{updateTime},
				#{updateUser}
			)
    </insert>
    
    <!-- 更新一条未回复的投诉与建议 -->
    <update id="updateComplaintSuggestion" parameterType="com.education.hjj.bz.entity.ComplaintSuggestionPo">
        
        update
        	complaints_suggestions
        set
        	
        	status = #{status},
        	update_time = #{updateTime},
        	update_user = #{updateUser}
        where
        	status = 1
        and
        	complaint_suggestion_id = #{complaintSuggestionId}
    </update>
    
    <!-- 查询所有的未回复的投诉与建议 -->
    <select id="queryAllComplaintSuggestion" resultMap="complaintSuggestionResultMap">
    	select
    		complaint_suggestion_id,
    		person_id,
    		person_type,
			type,
			content,
			telephone,
			pictures,
			status,
			create_time
		from
			complaints_suggestions
		
		GROUP BY
			status
		ORDER BY
			status desc,
			create_time desc	
    
    </select>
    
    <!-- 教务端查询所有的未回复的投诉与建议 -->
    <select id="queryAllComplaintSuggestionByEducational" resultMap="complaintSuggestionResultMap" parameterType="com.education.hjj.bz.formBean.ComplaintSuggestionForm">
    	SELECT 
			tcs.complaint_suggestion_id,
			tcs.name,
			tcs.telephone,
			tcs.content,
			DATE_FORMAT(tcs.create_time,'%Y-%m-%d %H:%i:%S') as create_time,
			tcs.person_type
		
		FROM
			complaints_suggestions tcs
		WHERE
			tcs.is_contact = 0
		ORDER BY 
			tcs.create_time ASC	
		<if test="offset != null">
            <![CDATA[
            limit #{pageSize} offset #{offset}
            ]]>
        </if>
    
    </select>
    
    <!--教务端处理投诉与建议 -->
    <update id="updateComplaintSuggestionByEducational" parameterType="com.education.hjj.bz.formBean.ComplaintSuggestionForm">
        
        update
        	complaints_suggestions
        set
        	
        	is_contact = #{isContact},
        	update_time = #{updateTime}
        where
        	complaint_suggestion_id = #{complaintSuggestionId}
    </update>
    
    <!-- 查询一条未回复的投诉与建议 -->
     <select id="queryComplaintSuggestionById" resultMap="complaintSuggestionResultMap" parameterType="java.lang.Integer">
    	select
    		complaint_suggestion_id,
    		person_id,
    		person_type,
			type,
			content,
			telephone,
			name,
			status,
			create_time
		from
			complaints_suggestions
		where
			status = 1
		and
			complaint_suggestion_id = #{complaintSuggestionId}
    
    </select>

</mapper>