<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace用于绑定Dao接口 -->
<mapper namespace="com.education.hjj.bz.mapper.PointsLogMapper">

	<!-- 用用查询映射结果 -->
	<resultMap id="pointLogsResultMap" type="com.education.hjj.bz.entity.vo.PointsLogVo" >
		<!-- column代表数据库列名，property代表实体类属性名 -->
		<result column="teacher_id" property="teacherId"/>
		<result column="get_points_counts" property="getPointsCounts"/>
		<result column="get_points_desc" property="getPointsDesc"/>
		<result column="create_time" property="createTime"/>
	</resultMap>
	
	
    <select id="queryAllPointsLogByTeacherId"  resultMap="pointLogsResultMap" parameterType="com.education.hjj.bz.formBean.PointsLogForm">    
        	
        select 
        	tpl.teacher_id,
			tpl.get_points_counts,
			tpl.get_points_desc,
			date_format(tpl.create_time, '%Y-%m-%d %T') as create_time
		from 
		
			teacher_points_log tpl
			
		where 
			tpl.status=1
		and
			tpl.teacher_id = #{teacherId}
		<if test="offset != null">
            <![CDATA[
               limit #{pageSize} offset #{offset}
            ]]>
        </if>
    </select>  
    
    <!-- 插入积分获取日志 -->
    <insert id="addTeacherPointsLog" parameterType="com.education.hjj.bz.entity.PointsLogPo"
    	keyProperty="id" useGeneratedKeys="true">
    	insert into teacher_points_log(
    		teacher_id,
    		get_points_counts,
    		get_points_desc,
    		status,
    		create_time,
			create_user,
			update_time,
			update_user
    	)
    	values(
    		#{teacherId},
    		#{getPointsCounts},
    		#{getPointsDesc},
    		#{status},
			#{createTime},
			#{createUser},
			#{updateTime},
			#{updateUser}
    	)	
    </insert>
    
</mapper>