<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.hjj.bz.mapper.StudentDemandConnectMapper">

    <resultMap id="studentDemandConnectResultMap" type="com.education.hjj.bz.entity.vo.StudentDemandConnectVo">
	     	<result property="sid" column="sid"/>
	     	<result property="demandId" column="demand_id"/>
	     	<result property="teacherId" column="teacher_id"/>
	     	<result property="status" column="status"/>
	     	<result property="deleteStatus" column="delete_status"/>
	     	<result property="createTime" column="create_time"/>
	     	<result property="createUser" column="create_user"/>
	     	<result property="updateTime" column="update_time"/>
	     	<result property="updateUser" column="update_user"/>
	     	<result property="orderTeachTime" column="order_teach_time"/>
			<result property="appraise" column="appraise"/>
			<result property="appraiseTime" column="appraise_time"/>
	     	<result property="teacherName" column="teacherName"/>
	     	<result property="chargesStandard" column="charges_standard"/>
	     	<result property="appraiseLevel" column="appraise_level"/>
	     	<result property="telephone" column="telephone"/>
    </resultMap>

	<select id="load" resultMap="studentDemandConnectResultMap" parameterType="long">
        SELECT * FROM student_demand_connect
        WHERE sid =  #{sid} and delete_status = 0
    </select>

	<update id="delete">
        UPDATE student_demand_connect
        SET delete_status = 1
        WHERE id =  #{id}
    </update>

    <update id="confirmTeacher" parameterType="com.education.hjj.bz.formBean.StudentDemandConnectForm">
        <selectKey resultType="long" keyProperty="sid" >
            SELECT @@IDENTITY AS sid
        </selectKey>
        UPDATE student_demand_connect
        SET order_teach_time = #{confirmDate},
            status  = #{status}
        Where demand_id = #{demandId}
        AND teacher_id = #{teacherId}
    </update>

    <update id="updateStatus" parameterType="com.education.hjj.bz.formBean.StudentDemandConnectForm">
        <selectKey resultType="long" keyProperty="sid" >
            SELECT @@IDENTITY AS sid
        </selectKey>
        UPDATE student_demand_connect
        SET status = #{status},
        	update_time  = #{updateTime}
        Where demand_id = #{demandId}
        AND delete_status = 0
        AND status in (1, 2)
    </update>

    <update id="updateStatusAndPass" parameterType="com.education.hjj.bz.formBean.StudentDemandConnectForm">
        UPDATE student_demand_connect
        SET status = #{status},
        update_time  = #{updateTime}
        Where demand_id = #{demandId}
        AND teacher_id != #{teacherId}
    </update>

    <update id="updateNotNull" parameterType="com.education.hjj.bz.formBean.StudentDemandConnectForm">
        UPDATE student_demand_connect
        <set>
		     	 <if test="demandId != null">
	               demand_id =  #{demandId},
       		     </if>
		     	 <if test="teacherId != null">
	               teacher_id =  #{teacherId},
       		     </if>
		     	 <if test="status != null">
	               status =  #{status},
       		     </if>
		     	 <if test="deleteStatus != null">
	               delete_status =  #{deleteStatus},
       		     </if>
		     	 <if test="createTime != null">
	               create_time =  #{createTime},
       		     </if>
		     	 <if test="createUser != null">
	               create_user =  #{createUser},
       		     </if>
		     	 <if test="updateTime != null">
	               update_time =  #{updateTime},
       		     </if>
		     	 <if test="updateUser != null">
	               update_user =  #{updateUser},
       		     </if>
        </set>
        WHERE sid =  #{sid}
    </update>

	<update id="updateByDemandId" parameterType="com.education.hjj.bz.formBean.StudentDemandConnectForm">
		UPDATE student_demand_connect
		<set>
			<if test="demandId != null">
				demand_id =  #{demandId},
			</if>
			<if test="teacherId != null">
				teacher_id =  #{teacherId},
			</if>
			<if test="status != null">
				status =  #{status},
			</if>
			<if test="deleteStatus != null">
				delete_status =  #{deleteStatus},
			</if>
			<if test="createTime != null">
				create_time =  #{createTime},
			</if>
			<if test="createUser != null">
				create_user =  #{createUser},
			</if>
			<if test="updateTime != null">
				update_time =  #{updateTime},
			</if>
			<if test="updateUser != null">
				update_user =  #{updateUser},
			</if>
		</set>
		WHERE demand_id =  #{demandId}
		AND  teacher_id = #{teacherId}
		AND delete_status = 0
	</update>

    <insert id="insert" parameterType="com.education.hjj.bz.formBean.StudentDemandConnectForm">
        <selectKey resultType="long" keyProperty="sid" >
		SELECT @@IDENTITY AS sid
		</selectKey>
        INSERT INTO student_demand_connect(
	        demand_id,
	        teacher_id,
	        status,
	        delete_status,
	        create_time,
	        create_user
	        ) VALUES (
	        #{demandId},
	        #{teacherId},
	        #{status},
	        #{deleteStatus},
	        #{createTime},
	        #{createUser}
        )
    </insert>


    <select id="getCount" parameterType="com.education.hjj.bz.formBean.StudentDemandConnectForm"  resultType="int">
        SELECT count(0)
        FROM student_demand_connect
        <include refid="listRef"/>
    </select>
    
    <select id="querySignUpPersonByDemandId" parameterType="com.education.hjj.bz.formBean.StudentDemandConnectForm"  resultType="int">
        SELECT 
        	count(0)
        FROM 
        	student_demand_connect
        
        where
        	status != 0
        and
        	demand_id = #{demandId}
        and
        	teacher_id = #{teacherId}
        and
        	delete_status = 0
    </select>

    <select id="listConnectInfo" parameterType="java.lang.Integer" resultMap="studentDemandConnectResultMap">
        SELECT
          sdc.*
          , te.name AS teacherName
          , te.charges_standard
          , te.telephone
        FROM
          student_demand_connect sdc
        LEFT JOIN teacher te
        ON sdc.teacher_id = te.teacher_id
        WHERE sdc.delete_status = 0
        AND  sdc.demand_id = #{demandId}
    </select>

    <select id="list" parameterType="com.education.hjj.bz.formBean.StudentDemandConnectForm"  resultMap="studentDemandConnectResultMap">
        SELECT *
        FROM student_demand_connect
        <include refid="listRef"/>
        ORDER BY id DESC
        <if test="offset != null">
            <![CDATA[
            limit #{pageSize} offset #{offset}
            ]]>
        </if>
    </select>

	<select id="countAlreadyDemand" parameterType="com.education.hjj.bz.formBean.StudentDemandConnectForm"  resultType="java.lang.Integer">
        SELECT count(*)
        FROM student_demand_connect sdc
		INNER JOIN student_demand sd
		ON sd.sid = sdc.demand_id
        WHERE sdc.delete_status = 0
		AND sdc.teacher_id =  #{teacherId}
		AND sdc.status = 4
		AND sd.demand_grade = #{demandGrade}
		AND sd.subject_id   = #{subjectId}
		AND sd.student_id = #{studentId}
    </select>
    <sql id="listRef">
        <where>
                <if test="sid != null and sid != ''">
                    and sid =  #{sid}
                </if>
                <if test="demandId != null and demandId != ''">
                    and demand_id =  #{demandId}
                </if>
                <if test="teacherId != null and teacherId != ''">
                    and teacher_id =  #{teacherId}
                </if>
                <if test="status != null and status != ''">
                    and status =  #{status}
                </if>
                <if test="deleteStatus != null and deleteStatus != ''">
                    and delete_status =  #{deleteStatus}
                </if>
                <if test="createTime != null and createTime != ''">
                    and create_time =  #{createTime}
                </if>
                <if test="createUser != null and createUser != ''">
                    and create_user =  #{createUser}
                </if>
                <if test="updateTime != null and updateTime != ''">
                    and update_time =  #{updateTime}
                </if>
                <if test="updateUser != null and updateUser != ''">
                    and update_user =  #{updateUser}
                </if>
        </where>
    </sql>
    
    <select id="queryServiceForStudentSuccess" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    	select
    		count(sid)
    	from 
    		student_demand_connect
    	where
			status =4
		and
			teacher_id = #{teacherId}
    		
    </select>
    
    
    <!-- 用用查询映射结果 -->
	<resultMap id="studentDemandsResultMap" type="com.education.hjj.bz.entity.vo.StudentDemandVo" >
		<!-- column代表数据库列名，property代表实体类属性名 -->
		<result column="sid" property="sid"/>
		<result column="order_start" property="orderStart"/>
		<result column="teach_grade_name" property="teachGradeName"/>
		<result column="teach_branch_name" property="teachBranchName"/>
		
	</resultMap>
    
    <!-- 查询某教员最近服务过的学员列表信息前5名 -->
    <select id="queryServiceForStudentByTeacherId" parameterType="java.lang.Integer" resultMap="studentDemandsResultMap">
    	select
			sd.sid,
			tg.teach_grade_name,
			tb.teach_branch_name,
			sd.order_start
		from 
			student_demand_connect sdc
		LEFT JOIN
			student_demand sd
		ON
			sdc.demand_id = sd.sid
		LEFT JOIN
			teach_grade tg
		ON	
			sd.demand_grade = tg.teach_grade_id 
		LEFT JOIN
			teach_branch tb
		ON
			sd.subject_id = tb.teach_branch_id
		where
			sdc.status =4
		and
			sdc.teacher_id = #{teacherId}
    	order by
			sd.order_start desc
		limit 5
    </select>

	<select id="listGoodApprise" resultMap="studentDemandConnectResultMap">
		SELECT *
		FROM student_demand_connect sdc
		WHERE sdc.appraise_level = 1
		order by sdc.appraise_time desc
	</select>
    
    <!-- 查询最近前5条学员对教员的评价记录 -->
    <select id="queryStudentAppraiseForTeacher" parameterType="java.lang.Integer" resultMap="studentDemandConnectResultMap">
    	select
			sdc.appraise,
			sdc.appraise_time,
			t.name as teacherName
		from 
			student_demand_connect sdc
		LEFT JOIN
			teacher t
		ON
			sdc.teacher_id = t.teacher_id
		where
			sdc.status =4
		AND	
			t.status =1
		and
			sdc.appraise is not null
		and
			sdc.teacher_id =  #{teacherId}
		order by
			sdc.appraise_time desc
		limit 5
    </select>
    
    
    <!-- 用用查询映射结果 -->
	<resultMap id="waitForTrailTimeDemandOrdersResultMap" type="com.education.hjj.bz.entity.vo.StudentDemandVo" >
		<!-- column代表数据库列名，property代表实体类属性名 -->
		<result column="sid" property="sid"/>
		<result column="demand_id" property="demandId"/>
		<result column="teacherName" property="teacherName"/>
		<result column="telephone" property="telephone"/>
		<result column="student_name" property="studentName"/>
		<result column="parent_phone_num" property="parentPhoneNum"/>
		<result column="create_time" property="createTime"/>
		<result column="teach_grade_name" property="teachGradeName"/>
		<result column="teach_branch_name" property="teachBranchName"/>
		<result column="time_range" property="timeRange"/>
	</resultMap>
    
    <!-- 教务段查询超过一小时未确认试讲时间的订单 -->
    <select id="queryAllWaitForTrailTimeDemandOrderList" parameterType="com.education.hjj.bz.formBean.StudentDemandConnectForm" resultMap="waitForTrailTimeDemandOrdersResultMap">
    
    	SELECT
			sd.sid,
			sdc.demand_id,
			t.`name` as teacherName,
			t.telephone,
			s.student_name,
			s.parent_phone_num,
			sd.create_time,
			tg.teach_grade_name,
			tb.teach_branch_name,
			sd.time_range
	
		FROM
			student_demand_connect sdc
		LEFT JOIN
			student_demand sd
		ON
			sdc.demand_id = sd.sid
		LEFT JOIN
			teach_grade tg
		ON
			sd.demand_grade = tg.teach_grade_id
		LEFT JOIN
			teach_branch tb
		ON
			sd.subject_id = tb.teach_branch_id
		LEFT JOIN
			student s
		ON
			sd.student_id = s.sid
		LEFT JOIN
			teacher t
		ON
			sdc.teacher_id = t.teacher_id
		WHERE
			sdc.status = 1
		AND
			sdc.is_contact = 0
		AND
			sdc.order_teach_time is NULL
		AND
			sdc.create_time <![CDATA[<]]> #{createTime}
		
		ORDER BY
				sd.create_time asc
		<if test="offset != null">
            <![CDATA[
            limit #{pageSize} offset #{offset}
            ]]>
        </if>
    </select>
    
    <!-- 教务端确定待试讲的订单是否联系 -->
    <update id="updateStudentDemandConnectByStatus" parameterType="com.education.hjj.bz.formBean.StudentDemandConnectForm">
    	UPDATE 
    		student_demand_connect
        SET 
        	isContact = #{isContact},
        	update_time  = #{updateTime}
        Where 
        	sid = #{sid}
    </update>
    
</mapper>