<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace用于绑定Dao接口 -->
<mapper namespace="com.education.hjj.bz.mapper.StudentLogMapper">

	<resultMap id="studentLogResultMap" type="com.education.hjj.bz.entity.vo.StudentLogVo" >
		<result column="student_log_id" property="studentLogId"/>
		<result column="student_name" property="studentName"/>
		<result column="student_id" property="studentId"/>
		<result column="log_type" property="logType"/>
		<result column="log_content" property="logContent"/>
		<result column="create_time" property="createTime"/>
		
		<result column="picture" property="picture"/>
	</resultMap>
      
    <insert id="addStudentLog" parameterType="com.education.hjj.bz.entity.StudentLogPo"
        keyProperty="id" useGeneratedKeys="true">
        
        insert into student_log(
			student_name,
			student_id,
			log_type,
			log_content,
			status,
			create_time,
			create_user,
			update_time,
			update_user
		)
		values(
			#{studentName},
			#{studentId},
			#{logType},
			#{logContent},
			#{status},
			#{createTime},
			#{createUser},
			#{updateTime},
			#{updateUser}
		)
        
    </insert>
    
    <select id="queryStudentLogByHome10" resultMap="studentLogResultMap">
    	select
    		sl.student_log_id, 
			sl.student_name,
			sl.student_id,
			sl.log_type,
			sl.log_content,
			sl.create_time,
			s.picture
		from 
			student_log sl
		LEFT JOIN
			student s
		ON
			sl.student_id = s.sid
		WHERE
			sl.status = 1
		AND
			s.delete_status = 0
		
		ORDER BY
			sl.create_time desc
		
		limit 10
		

    </select>

</mapper>