<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace用于绑定Dao接口 -->
<mapper namespace="com.education.hjj.bz.mapper.StudentDemandMapper">

	<!-- 用用查询映射结果 -->
	<resultMap id="studentDemandsResultMap" type="com.education.hjj.bz.entity.vo.StudentDemandVo" >
		<!-- column代表数据库列名，property代表实体类属性名 -->
		<result column="demand_id" property="demandId"/>
		<result column="student_id" property="studentId"/>
		<result column="student_name" property="studentName"/>
		<result column="demand_num" property="demandNum"/>
		<result column="student_area" property="studentArea"/>
		<result column="demand_address" property="demandAddress"/>
		<result column="demand_grade" property="demandGrade"/>
		<result column="demand_branch" property="demandBranch"/>
		<result column="demand_phone" property="demandPhone"/>
		<result column="teacher_sex" property="teacherSex"/>
		<result column="teach_time" property="teachTime"/>
		<result column="teach_count" property="teachCount"/>
		<result column="demand_desc" property="demandDesc"/>
		<result column="person_num" property="personNum"/>
		<result column="create_time" property="createTime"/>
	</resultMap>
	
	
    <select id="querystudentDemands"  resultMap="studentDemandsResultMap" parameterType="com.education.hjj.bz.entity.StudentDemandPo">    
        	
        select
        	sd.demand_id, 
        	sd.student_id,
        	sd.student_name,
			sd.demand_num,
			sd.student_area,	
		    sd.demand_address,
		    sd.demand_grade,
			sd.demand_branch,
			sd.demand_phone,
			sd.teacher_sex,
			sd.teach_time,
			sd.teach_count,
			sd.demand_desc,
			sd.person_num,
			sd.create_time,
			
		from 
			student_demand sd
		
		where 
			sd.status=1
		<if test='demandId != null and demandId != ""'>
            AND sd.demand_id = #{demandId}
        </if>
        <if test='demandGrade != null and demandGrade != ""'>
            AND sd.demand_grade = #{demandGrade}
        </if> 
        <if test='demandBranch != null and demandBranch != ""'>
            AND sd.demand_branch = #{demandBranch}
        </if> 
        <if test='studentArea != null and studentArea != ""'>
            AND sd.student_area = #{studentArea}
        </if> 

        order by 
        	sd.create_time desc
        <if test="offset != null">
            <![CDATA[
                limit #{pageSize} offset #{offset}
            ]]>
        </if>
    </select>  
    
    
    <insert id="addStudentDemandByTeacher" parameterType="com.education.hjj.bz.entity.TeacherAndStudentDemandPo"
        keyProperty="id" useGeneratedKeys="true">
        INSERT INTO teacher(
        	demand_id,
        	teacher_id,
        	teacher_name,
        	teacher_phone,
        	choose_status,
        	status,
        	create_time,
        	create_user,
        	update_time,
        	update_user
        	)
        VALUES (
        	#{demandId},
        	#{teacherId},
        	#{teacherName},
        	#{teacherPhone},
        	#{chooseStatus},
        	#{status},
        	#{createTime},
        	#{createUser},
        	#{updateTime},
        	#{updateUser}
        )
    </insert>

</mapper>