<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.hjj.bz.mapper.StudentConnectTeacherMapper">

    <resultMap id="studentConnectTeacherResultMap" type="com.education.hjj.bz.entity.vo.StudentConnectTeacherVo">
	     	<result property="sid" column="sid"/>
	     	<result property="studentId" column="student_id"/>
	     	<result property="teacherId" column="teacher_id"/>
	     	<result property="deleteStatus" column="delete_status"/>
	     	<result property="createTime" column="create_time"/>
	     	<result property="createUser" column="create_user"/>
    </resultMap>

	<select id="load" resultMap="studentConnectTeacherResultMap" parameterType="long">
        SELECT * FROM student_connect_teacher
        WHERE sid =  #{sid} and delete_status = 0
    </select>

	<update id="delete">
        UPDATE student_connect_teacher
        SET delete_status = 1
        WHERE sid =  #{id}
    </update>

    <update id="updateNotNull" parameterType="com.education.hjj.bz.formBean.StudentConnectTeacherForm">
        UPDATE student_connect_teacher
        <set>
		     	 <if test="sid != null">
	               sid =  #{sid},
       		     </if>
		     	 <if test="studentId != null">
	               student_id =  #{studentId},
       		     </if>
		     	 <if test="teacherId != null">
	               teacher_id =  #{teacherId},
       		     </if>
		     	 <if test="deleteStatus != null">
	               delete_status =  #{deleteStatus},
       		     </if>
		     	 <if test="createTime != null">
	               create_time =  #{createTime},
       		     </if>
		     	 <if test="createUser != null">
	               create_user =  #{createUser},
       		     </if>
        </set>
        WHERE sid =  #{sid}
    </update>

    <insert id="insert" parameterType="com.education.hjj.bz.formBean.StudentConnectTeacherForm">
        INSERT INTO student_connect_teacher(
	        student_id,
	        teacher_id,
	        delete_status,
	        create_time,
	        create_user
	        ) VALUES (
	        #{studentId},
	        #{teacherId},
	        #{deleteStatus},
	        #{createTime},
	        #{createUser}
        )
    </insert>


    <select id="getCount" parameterType="com.education.hjj.bz.formBean.StudentConnectTeacherForm"  resultType="java.lang.Integer">
        SELECT count(0)
        FROM student_connect_teacher
        <include refid="listRef"/>
    </select>

    <select id="list" parameterType="com.education.hjj.bz.formBean.StudentConnectTeacherForm"  resultMap="studentConnectTeacherResultMap">
        SELECT *
        FROM student_connect_teacher
        <include refid="listRef"/>
        ORDER BY id DESC
        <if test="offset != null">
            <![CDATA[
            limit #{pageSize} offset #{offset}
            ]]>
        </if>
    </select>
    <sql id="listRef">
        <where>
                <if test="sid != null and sid != ''">
                    and sid =  #{sid}
                </if>
                <if test="studentId != null and studentId != ''">
                    and student_id =  #{studentId}
                </if>
                <if test="teacherId != null and teacherId != ''">
                    and teacher_id =  #{teacherId}
                </if>
                <if test="deleteStatus != null and deleteStatus != ''">
                    and delete_status =  #{deleteStatus}
                </if>
                <if test="createTime != null and createTime != ''">
                    and create_time =  #{createTime}
                </if>
                <if test="createUser != null and createUser != ''">
                    and create_user =  #{createUser}
                </if>
        </where>
    </sql>
</mapper>