<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.hjj.bz.mapper.StudentMapper">

    <resultMap id="studentResultMap" type="com.education.hjj.bz.entity.vo.StudentVo">
	     	<result property="sid" column="sid"/>
	     	<result property="studentName" column="student_name"/>
	     	<result property="sex" column="sex"/>
	     	<result property="grade" column="grade"/>
	     	<result property="subjectId" column="subject_id"/>
	     	<result property="openId" column="openId"/>
	     	<result property="picture" column="picture"/>
	     	<result property="parentPhoneNum" column="parent_phone_num"/>
	     	<result property="deleteStatus" column="delete_status"/>
	     	<result property="createTime" column="create_time"/>
	     	<result property="createUser" column="create_user"/>
	     	<result property="updateTime" column="update_time"/>
	     	<result property="updateUser" column="update_user"/>
    </resultMap>

	<select id="load" resultMap="studentResultMap" parameterType="long">
        SELECT * FROM student
        WHERE sid =  #{sid} and delete_status = 0
    </select>

	<select id="findByPhone" resultMap="studentResultMap" parameterType="string">
        SELECT
         	*
        FROM student
        WHERE parent_phone_num =  #{phone}
        and delete_status = 0
    </select>



	<update id="delete">
        UPDATE student
        SET delete_status = 1
        WHERE sid =  #{sid}
    </update>

    <update id="updateNotNull" parameterType="com.education.hjj.bz.formBean.StudentForm">
        UPDATE student
        <set>
		     	 <if test="studentName != null">
	               student_name =  #{studentName},
       		     </if>
		     	 <if test="sex != null">
	               sex =  #{sex},
       		     </if>
		     	 <if test="grade != null">
	               grade =  #{grade},
       		     </if>
                 <if test="subjectId != null">
                   subject_id =  #{subjectId},
                 </if>
		     	 <if test="openId != null">
	               openId =  #{openId},
       		     </if>
		     	 <if test="picture != null">
	               picture =  #{picture},
       		     </if>
		     	 <if test="parentPhoneNum != null">
	               parent_phone_num =  #{parentPhoneNum},
       		     </if>
		     	 <if test="deleteStatus != null">
	               delete_status =  #{deleteStatus},
       		     </if>
		     	 <if test="createTime != null">
	               create_time =  #{createTime},
       		     </if>
		     	 <if test="createUser != null">
	               create_user =  #{createUser},
       		     </if>
		     	 <if test="updateTime != null">
	               update_time =  #{updateTime},
       		     </if>
		     	 <if test="updateUser != null">
	               update_user =  #{updateUser},
       		     </if>
        </set>
        WHERE sid = #{sid}
    </update>

    <insert id="insert" parameterType="com.education.hjj.bz.formBean.StudentForm">
        <selectKey resultType="long" keyProperty="sid" >
		SELECT @@IDENTITY AS sid
		</selectKey>
        INSERT INTO student(
	        student_name,
	        sex,
	        grade,
            subject_id,
	        openId,
	        picture,
	        parent_phone_num,
	        delete_status,
	        create_time,
	        create_user,
	        update_time,
	        update_user
	        ) VALUES (
	        #{studentName},
	        #{sex},
	        #{grade},
	        #{subjectId},
	        #{openId},
	        #{picture},
	        #{parentPhoneNum},
	        #{deleteStatus},
	        #{createTime},
	        #{createUser},
	        #{updateTime},
	        #{updateUser}
        )
    </insert>


    <select id="getCount" parameterType="com.education.hjj.bz.formBean.StudentForm"  resultType="int">
        SELECT count(0)
        FROM student
        <include refid="listRef"/>
    </select>

    <select id="list" parameterType="com.education.hjj.bz.formBean.StudentForm"  resultMap="studentResultMap">
        SELECT *
        FROM student
        <include refid="listRef"/>
        ORDER BY sid DESC
        <if test="offset != null">
            <![CDATA[
            limit #{pageSize} offset #{offset}
            ]]>
        </if>
    </select>
    <sql id="listRef">
        <where>
                <if test="sid != null">
                    and sid =  #{sid}
                </if>
                <if test="studentName != null and studentName != ''">
                    and student_name =  #{studentName}
                </if>
                <if test="sex != null and sex != ''">
                    and sex =  #{sex}
                </if>
                <if test="grade != null and grade != ''">
                    and grade =  #{grade}
                </if>
                <if test="openId != null and openId != ''">
                    and openId =  #{openId}
                </if>
                <if test="picture != null and picture != ''">
                    and picture =  #{picture}
                </if>
                <if test="parentPhoneNum != null and parentPhoneNum != ''">
                    and parent_phone_num =  #{parentPhoneNum}
                </if>
                <if test="deleteStatus != null and deleteStatus != ''">
                    and delete_status =  #{deleteStatus}
                </if>
                <if test="createTime != null and createTime != ''">
                    and create_time =  #{createTime}
                </if>
                <if test="createUser != null and createUser != ''">
                    and create_user =  #{createUser}
                </if>
                <if test="updateTime != null and updateTime != ''">
                    and update_time =  #{updateTime}
                </if>
                <if test="updateUser != null and updateUser != ''">
                    and update_user =  #{updateUser}
                </if>
        </where>
    </sql>
</mapper>