<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace用于绑定Dao接口 -->
<mapper namespace="com.education.hjj.bz.mapper.TeachBranchMapper">
	
	<resultMap id="TeachBranchsResultMap" type="com.education.hjj.bz.entity.vo.TeachBranchVo" >
		<!-- column代表数据库列名，property代表实体类属性名 -->
		<result column="teach_branch_id" property="teachBranchId"/>
		<result column="teach_branch_name" property="teachBranchName"/>
		<result column="teach_grade_id" property="teachGradeId"/>
		<result column="teach_level_id" property="teachLevelId"/>
	</resultMap>
    

    <!-- 查询教学科目 -->
    <select id="queryAllTeachBranchs"  resultMap="TeachBranchsResultMap">    
        select 
			tb.teach_branch_id,
			tb.teach_branch_name,
			tb.teach_grade_id,
			tb.teach_level_id
		from 
			teach_branch tb
		WHERE
			tb.status = 1
		ORDER BY
			tb.teach_branch_id 

    </select>

	<select id="queryByBranchId" parameterType="integer" resultMap="TeachBranchsResultMap">
		SELECT *
		FROM teach_branch
		WHERE teach_branch_id = #{teachBranchId}
	</select>

	<select id="queryListByBranchId" parameterType="integer" resultType="java.lang.Integer">
		SELECT t2.teach_branch_id
		FROM teach_branch t1
		inner join teach_branch t2
		on t1.teach_grade_id = t2.teach_grade_id
		and t1.teach_level_id = t2.teach_level_id
		WHERE t1.teach_branch_id = #{teachBranchId}
	</select>
     <select id="queryCheckedTeachBranchs"  resultMap="TeachBranchsResultMap" parameterType="java.util.List">    
        select 
			tb.teach_branch_id,
			tb.teach_branch_name,
			tb.teach_grade_id,
			tb.teach_level_id
		from 
			teach_branch tb
		WHERE
			tb.status = 1
		and
        	tb.teach_branch_id 
        in
       	<foreach item="item" collection="list" separator="," open="(" close=")" index="">    
	      #{item.teachBranchId}    
	    </foreach>
		ORDER BY
			tb.teach_branch_id 

    </select>
    
</mapper>