<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace用于绑定Dao接口 -->
<mapper namespace="com.education.hjj.bz.mapper.UserAccountLogMapper">

	<!-- 用查询映射结果 -->
	<resultMap id="teacherAccountLogResultMap" type="com.education.hjj.bz.entity.vo.TeacherAccountOperateLogVo" >
		<!-- column代表数据库列名，property代表实体类属性名 -->
		
		<result column="payment_id" property="paymentId"/>
		<result column="payment_stream_id" property="paymentStreamId"/>
		<result column="payment_person_id" property="paymentPersonId"/>
		<result column="payment_person_name" property="paymentPersonName"/>
		<result column="payment_type" property="paymentType"/>
		<result column="payment_account" property="paymentAccount"/>
		<result column="payment_desc" property="paymentDesc"/>
		<result column="create_time" property="createTime"/>
		<result column="telephone" property="telephone"/>
		<result column="teach_branch_name" property="teachBranchName"/>
		<result column="student_name" property="studentName"/>
	</resultMap>
	
    
    <!-- 查询用户账户变化日志列表 -->  
    <select id="queryUserAccountLogList"  resultMap="teacherAccountLogResultMap" parameterType="com.education.hjj.bz.entity.TeacherAccountOperateLogPo">    
        	
       	select
       		payment_id, 
			payment_stream_id,
			payment_person_id,
			payment_person_name,
			payment_type,
			payment_account,
			payment_desc,
			create_time
		FROM
			teacher_payments_log
		WHERE
			payment_person_id=#{paymentPersonId}
		AND
			status =1
			<if test="paymentType != null">
               and payment_type = #{paymentType}
            </if>
       		
    </select>
    
    <!-- 查询用户订单详情的支付状况列表 -->  
    <select id="queryStudentDemandAccountLogList"  resultMap="teacherAccountLogResultMap" parameterType="com.education.hjj.bz.entity.TeacherAccountOperateLogPo">    
        	
       	select
       		payment_id, 
			payment_stream_id,
			payment_person_id,
			payment_person_name,
			payment_type,
			payment_account,
			payment_desc,
			create_time
		FROM
			teacher_payments_log
		WHERE
			demand_id=#{demandId}
		AND
			payment_type in (2,4)
		
		order by
			create_time
    </select>

	<select id="listPayLog" parameterType="com.education.hjj.bz.entity.TeacherAccountOperateLogPo" resultMap="teacherAccountLogResultMap">
		SELECT *
		FROM teacher_payments_log
		WHERE demand_id = #{demandId}
		AND payment_type in (2, 4)
	</select>
    
    <!-- 查询用户账户变化日志列表 -->  
    <select id="queryUserAccountLogDetail"  resultMap="teacherAccountLogResultMap" parameterType="java.lang.Integer">    
        	
       	select 
			tpl.payment_id,
			tpl.payment_stream_id,
			tpl.payment_person_id,
			tpl.payment_person_name,
			tpl.payment_type,
			tpl.payment_account,
			tpl.payment_desc,
			tpl.create_time,
			tb.teach_branch_name,
			s.student_name
		FROM
			teacher_payments_log tpl
		LEFT JOIN
			student_demand sd
		ON
			tpl.demand_id = sd.sid
		LEFT JOIN
			student s
		ON
			sd.student_id = s.sid
		LEFT JOIN
			teach_branch tb
		ON
			sd.subject_id = tb.teach_branch_id
		WHERE			
			tpl.status =1
		and
			tpl.payment_id  #{paymentId}
       		
    </select> 
    
    <!-- 新增教员收入/支出日志表 -->
    <insert id="insertUserAccountLog" parameterType="com.education.hjj.bz.entity.TeacherAccountOperateLogPo"
    	keyProperty="id" useGeneratedKeys="true">
    	insert into teacher_payments_log(
    		order_id,
    		demand_id,
    		payment_stream_id,
    		payment_person_id,
			payment_person_name,
			payment_type,
			payment_account,
			payment_desc,
			status,
			create_time,
			create_user,
			update_time,
			update_user
    				
    	)values(
    		#{orderId},
    		#{demandId},
    		#{paymentStreamId},
    		#{paymentPersonId},
    		#{paymentPersonName},
    		#{paymentType},
    		#{paymentAccount},
    		#{paymentDesc},
    		#{status},
    		#{createTime},
    		#{createUser},
    		#{updateTime},
    		#{updateUser}
    	)
    </insert>
    
    <!-- 教务端查询用户账户变化日志列表,单日提现大于800的 -->  
    <select id="queryUserAccountLogListByEducational"  resultMap="teacherAccountLogResultMap" parameterType="com.education.hjj.bz.formBean.TeacherAccountLogForm">    
        	
       	select
			tpl.payment_id, 
			tpl.payment_stream_id,
			tpl.payment_person_id,
			t.telephone,
			tpl.payment_person_name,
			tpl.payment_type,
			tpl.payment_account,
			tpl.payment_desc,
			tpl.create_time
		FROM
			teacher_payments_log tpl
		left join
			teacher t
		ON	
			tpl.payment_person_id = t.teacher_id
		WHERE
			tpl.status =1
		AND
			tpl.payment_type = 1
		AND
			tpl.payment_account <![CDATA[>]]> 800
			
		ORDER BY
				tpl.create_time desc
		<if test="offset != null">
            <![CDATA[
            limit #{pageSize} offset #{offset}
            ]]>
        </if>
       		
    </select>
    
</mapper>