<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace用于绑定Dao接口 -->
<mapper namespace="com.education.hjj.bz.mapper.UserInfoMapper">

	<!-- 用用查询映射结果 -->
	<resultMap id="teacherInfoResultMap" type="com.education.hjj.bz.entity.vo.TeacherAccountVo" >
		<!-- column代表数据库列名，property代表实体类属性名 -->
		
		<result column="teacher_id" property="teacherId"/>
		<result column="teacher_name" property="teacherName"/>
		<result column="teacher_phone" property="teacherPhone"/>
		<result column="account_money" property="accountMoney"/>
		<result column="surplus_money" property="surplusMoney"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>
	
    <select id="queryTeacherAccount"  resultMap="teacherInfoResultMap" parameterType="java.lang.Integer">    
        	
        select 
			teacher_id,
			teacher_name,
			teacher_phone,
			account_money,
			surplus_money,
			create_time,
			update_time
		from 
			teacher_account
		where 
			status=1
		and
			teacher_id=#{teacherId}
    </select>  
    
</mapper>